.bg-black{
	background-color: black;
}
.bg-white{
	background-color: white;
}
.pd-1{
	padding: 1%;
}
.pd-3{
	padding: 3%;
}
.pr-23{
	padding-right: 23%;
}
.pt-3{
	padding-top: 3%;
}
.mt-1{
	margin-top: 1%;
}
.header{
	padding: 0px 5% 3px 5%;
}
.rosa{
	color: #DD1F4E;
}
.twitter{
	width: 100px;
	height: 300px;
}
button{
	color: white;
	background-color: gray;
	border-radius: 70px;
	padding: 10px;
	width: 100px;
}
#img{
	width: 550px;
	height: 450px;	
}
.foto{
	width: 500px;
	height: 300px;
}
.follow{
	color: white;
	background-color: #DD1F4E; ;
	width: 70px;
	border-radius: 0px;
	height: 20px;
	border:none;
}
#follow{
	opacity: 0.5;
	color: white;
	background-color: gray;
	border-radius: 10px;
	padding: 2px;
	width: 80px;

}
.send{
	width: 250px;
	height: 50px;	
	color: gray ;
}
.opacidad{
	opacity: 0.5;
}
